################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvcProj/.vs/MvcProj
/MvcProj/obj/Debug/net6.0
/MvcProj/bin/Debug/net6.0
/MvcProj/obj